DATABASE_URL="mysql://peterojo32:root@localhost:3305/laas"
DB_HOST=localhost
DB_PORT=3305
DB_USER=root
DB_PASSWORD=peterojo32
DATABASE=laas
REDIS_HOST=
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_USERNAME=
JWT_SECRET=secret
JWT_EXPIRES_IN=1dALLOWED_ORIGINS=
METRIC_DB_HOST=
METRIC_DB_PORT=
METRIC_DB_USER=
METRIC_DB_PASSWORD=
METRIC_DATABASE=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_CALLBACK_URL=
MINUTE_INTERVAL=
NODE_ENV=
